* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Assistant", sans-serif;
  background-color: black;
  padding: 15px;
  text-align: center;
}

h2 {
  font-family: "Old Standard TT", serif;
  margin-top: 40px;
  margin-left: 10px;
}

h3 {
  font-family: "Old Standard TT", serif;
  margin-top: 40px;
  margin-left: 10px;
}

p {
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 20px;
  line-height: 1.5;
}

li {
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
}

footer {
  background-color: black;
  padding: 30px 20px 10px 30px;
  text-align: center;
}

a {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: whitesmoke;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  max-width: 100%;
  border-spacing: 0;
  justify-content: space-around;
}

td {
  border: black;

  border-style: solid;
}

.beskriv {
  text-align: center;
  text-size-adjust: 50px;
}

.djur {
  margin-top: 3px;
}

.a_text {
  color: black;
  padding: 0;
  margin: 0;
  display: inline;
}

.block {
  display: block;
  width: 90%;
}

.titel {
  text-align: center;
  font-family: "Old Standard TT", serif;
  margin-top: 40px;
  margin-left: 10px;
}

.table {
  overflow-x: inherit;
}

.ull_läder {
  text-align: center;
}

.bild {
  max-height: 300px;
}

.td_text {
  border-style: hidden;
}
