* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Assistant", sans-serif;
  background-color: black;
  padding: 15px;
  text-align: left;
}

h1 {
  font-family: "Old Standard TT", serif;
  margin-top: 40px;
  margin-left: 10px;
}

h3 {
  font-family: "Old Standard TT", serif;
  margin-top: 40px;
  margin-left: 10px;
}

p {
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 20px;
  line-height: 1.5;
}

li {
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
}

footer {
  background-color: black;
  padding: 30px 20px 10px 30px;
  text-align: center;
}

a {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: whitesmoke;
}

.a_text {
  color: black;
  padding: 0;
  margin: 0;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

.nav {
  text-align: center;
}

.block {
  display: block;
  width: 50%;
}

.titel {
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-around;
}
td {
  border: black;
  border-style: solid;
}
